header {
  background-color: #F8F9FA;
  margin-bottom: 50px; }
  header #warframe_logo {
    height: 100px;
    width: 400px; }
  header #current {
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-color: blue;
    font-size: 120%; }

body {
  background: url("https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans/4437469/74c74cc4ba3ef390e8cf7e11bddeea25857a6c5a.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.excalibur {
  display: flex;
  justify-content: center;
  animation-name: excalibur_animation;
  animation-duration: 5s;
  animation-direction: normal; }

.barukk {
  display: flex;
  justify-content: end;
  animation-name: barukk_animation;
  animation-duration: 4s;
  padding-left: 20px;
  animation-direction: normal; }

.mesa {
  animation-name: mesa_animation;
  animation-duration: 5s;
  animation-direction: normal; }

.guild {
  background: url("../Imagenes/background/background_guild.webp");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }

#guild_form {
  width: 40%;
  height: 100%; }

.rule1 {
  animation-name: rule;
  animation-duration: 1s;
  animation-direction: normal; }

.rule2 {
  animation-name: rule;
  animation-duration: 1.5s;
  animation-direction: normal; }

.rule3 {
  animation-name: rule;
  animation-duration: 2s;
  animation-direction: normal; }

.rule4 {
  animation-name: rule;
  animation-duration: 2.5s;
  animation-direction: normal; }

.rule5 {
  animation-name: rule;
  animation-duration: 3s;
  animation-direction: normal; }

.fashion {
  background: url("../Imagenes/background/background_fashion.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .fashion p, .fashion .members h1, .members .fashion h1, .fashion .members h2, .members .fashion h2, .fashion .members footer, .members .fashion footer {
    font-size: 20px; }

#fashion_form {
  width: 40%;
  height: 100%; }

.missions {
  background: url("../Imagenes/background/background_missions.png");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .missions p, .missions .members h1, .members .missions h1, .missions .members h2, .members .missions h2, .missions .members footer, .members .missions footer {
    font-size: 20px; }

.missions_form {
  display: flex;
  justify-content: center;
  font-size: large; }

.members {
  background: url("../Imagenes/background/background_members.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .members p, .members h1, .members h2, .members footer {
    font-size: 30px;
    color: gold;
    text-shadow: 2px 2px 3px black; }
  .members h1 {
    align-items: center;
    text-align: center; }
  .members hr {
    height: 5px;
    background-color: gold;
    border: none; }

.thank_you {
  background: url("../Imagenes/background/thank_you_background.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .thank_you p, .thank_you .members h1, .members .thank_you h1, .thank_you .members h2, .members .thank_you h2, .thank_you .members footer, .members .thank_you footer {
    font-size: 170%; }

@keyframes excalibur_animation {
  0% {
    opacity: 0;
    top: 100%; }
  100% {
    opacity: 100%;
    top: 0%; } }

@keyframes barukk_animation {
  0% {
    opacity: 0;
    margin-left: 100%; }
  100% {
    opacity: 100%;
    margin-left: 0%; } }

@keyframes mesa_animation {
  0% {
    opacity: 0;
    margin-right: 100%; }
  100% {
    opacity: 100%;
    margin-right: 0%; } }

@keyframes rule {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@media screen and (max-width: 1480px) {
  .warframe_video {
    width: 631px;
    height: 355px; } }

@media screen and (max-width: 1024px) {
  .warframe_video {
    width: 473px;
    height: 266px; }
  #excalibur_index {
    width: 220px;
    height: 300px; } }

@media screen and (max-width: 800px) {
  .warframe_video {
    width: 315px;
    height: 178px;
    justify-content: center; }
  .mesa {
    display: none; }
  .barukk {
    display: none; }
  #excalibur_index {
    width: 220px;
    height: 300px; }
  #guild_form {
    width: 100%;
    height: 100%; }
  #fashion_form {
    width: 70%;
    height: 100%; } }

@media screen and (max-width: 420px) {
  .warframe_video {
    width: 280px;
    height: 180px; }
  #excalibur_index {
    width: 120px;
    height: 200px; }
  .meet {
    color: white; }
  #guild_form {
    width: 100%; }
  #fashion_form {
    width: 100%; } }
