
@keyframes excalibur_animation {
  0% { opacity: 0; top: 100%;}
  100% { opacity: 100%; top: 0%;}
}

@keyframes barukk_animation {
  0% { opacity: 0; margin-left: 100%;}
  100% { opacity: 100%; margin-left: 0%;}
}

@keyframes mesa_animation {
  0% { opacity: 0; margin-right: 100%;}
  100% { opacity: 100%; margin-right: 0%;}
}

