header {
  background-color: $background_menu;
  margin-bottom: $margin_menu;

  #warframe_logo {
    height: $logo_height;
    width: $logo_width;
  }

  #current {
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-color: blue;
    font-size: 120%;
  }
}

