@media screen and (max-width: 1480px) {
  .warframe_video {
    width: 631px;
    height: 355px;
  }
}

@media screen and (max-width: 1024px) {
  .warframe_video {
    width: 473px;
    height: 266px;
  }
  #excalibur_index {
    width: 220px;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .warframe_video {
    width: 315px;
    height: 178px;
    justify-content: center;
  }
  .mesa {
    display: none;
  }

  .barukk {
    display: none;
  }

  #excalibur_index {
    width: 220px;
    height: 300px;
  }

  #guild_form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 420px) {
  .warframe_video {
    width: 280px;
    height: 180px;
  }
  #excalibur_index {
    width: 120px;
    height: 200px;
  }
  .meet {
    color: white;
  }
  #guild_form {
    width: 100%;
  }
}