.thank_you {
  background: $background_thank_you_page;
  background-color: $background_color_default;
  background-repeat: $background_repeat;
  background-attachment: $background_attachment;
  background-size: $background_size;
  color: $font_color;

  p {
    font-size: 170%;
  }

}

