
$background_menu: #F8F9FA;
$background_index_image: url("https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans/4437469/74c74cc4ba3ef390e8cf7e11bddeea25857a6c5a.jpg");
$background_color_default: white;

$margin_menu: 50px;
$logo_height: 100px;
$logo_width: 400px;

