
$background_menu: #F8F9FA;
$background_index_image: url("https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans/4437469/74c74cc4ba3ef390e8cf7e11bddeea25857a6c5a.jpg");
$background_join_the_guild_image: url("../Imagenes/background/background_guild.webp");
$background_fashion_frame_image: url("../Imagenes/background/background_fashion.jpg");
$background_missions_image: url("../Imagenes/background/background_missions.png");
$background_color_default: white;
$background_repeat: no-repeat;
$background_attachment: fixed;
$background_size: cover;

$font_color: white;

$margin_menu: 50px;
$logo_height: 100px;
$logo_width: 400px;

$guild_form_height: 100%;
$guild_form_width: 40%;
$fashion_form_height: 100%;
$fashion_form_width: 40%;